# Cache Folders and Files
**/__pycache__/
**/tempCodeRunnerFile.python

# Python Virtual Environment
Python/
python

# Cache Folders in Model Directory
Model/.ipynb_checkpoints
Model/catboost_info

# To-Do List
To-Do_List.md
